/******************
** 网页通用样式 v2.2**
******************/
/* 利用变量px转为rem */
$browser-default-font-size: 16px !default;
@function pxTorem($px) { //$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}
/*飞书图标*/
.iconpark-icon {
    width: pxTorem(24px);
    height: pxTorem(24px);
}
/*通用渐变色背景*/
.main_gradient-bg {
    background-image: linear-gradient(#fbfbfb, #ededed);
}
/* 网页文字选中样式 v1.0 */
*::selection {
    color: #ffffff;
    background-color: rgba(var(--secondary-color), 1);
}
body {
    overflow-x: hidden;
}
html, body {
    height: 100%;
}
/* 渐变背景 */
.geek_gradient-bg {
    background-color: #e3e3e3;
    background-image: linear-gradient(180deg, #ffffff, #e1e1e1);
}
.geek_text-indent {
    text-indent: 2em;
}