/**********************
** 电脑端通栏导航条 v2**
**********************/
/* 利用变量px转为rem */
$browser-default-font-size: 16px !default;
@function pxTorem($px) { //$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}
.web_full-nav {
    z-index: 666666;
    background-color: rgba(var(--main-color), 1);
    .web_nav-item {
        height: 100%;
        & > a {
            display: block;
            color: #ffffff;
        }
        .uk-dropdown {
            padding: 0;
            .web_nav-subitem {
                a {
                    display: block;
                    color: #434343;
                }
                &:hover a {
                    color: #141414;
                    background-color: rgba(var(--main-color), 0.7);
                }
            }
        }
        &:first-child {
            border-left: none;
        }
        & > a {
            font-size: 18px;
            font-weight: lighter;
            display: block;
            color: #ffffff;
        }
        &.uk-active, &:hover {
            background-color: rgba(var(--secondary-color), 1);
        }
    }
}