/****************
** 网页通用样式 v0 *
*****************/
/* 网页文字选中样式 */
*::selection {
    color: #ffffff;
    background-color: var(--secondary-color);
}
html {
    color: #1f1f1f;
}
body {
    overflow-x: hidden;
}
/* 渐变背景 */
.geek_gradient-bg {
    background-color: #e3e3e3;
    background-image: linear-gradient(180deg, #ffffff, #e1e1e1);
}
.geek_text-indent {
    text-indent: 2em;
}