.table-overflow-auto {
    table {
        border-right: 1px solid #666666;
        border-bottom: 1px solid #666666;
        border-collapse: collapse;
        td {
            border-left: 1px solid #666666;
            border-top: 1px solid #666666;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
