/* 移动端导航条 v2.0 */
.m_nav {
    position: fixed;
    z-index: 666666;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(var(--main-color), 1);
    & > a {
        font-size: 3.5vw;
        line-height: 6vw;
        padding: 2.5vw 0;
        color: #ffffff;
        &.uk-active {
            background-color: rgba(var(--secondary-color), 1);
        }
    }
    & > a:not(:first-child) {
        border-left: 2px solid #666666;
    }
    .icon {
        width: 6vw;
        height: 6vw;
    }
}