@font-face {
    font-family: "SourceHanSansCN-Bold";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-Bold.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SourceHanSansCN-ExtraLight";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-ExtraLight.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-ExtraLight.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SourceHanSansCN-Heavy";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-Heavy.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-Heavy.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SourceHanSansCN-Light";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-Light.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SourceHanSansCN-Medium";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-Medium.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SourceHanSansCN-Normal";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-Normal.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-Normal.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: local("SourceHanSansCN"),
    url("SourceHanSansCN-Regular.woff") format("woff"), /* Modern Browsers */
    url("SourceHanSansCN-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
.SourceHanSansCN-Bold {
    font-family: "SourceHanSansCN-Bold", sans-serif !important;
}
.SourceHanSansCN-ExtraLight {
    font-family: "SourceHanSansCN-ExtraLight", sans-serif !important;
}
.SourceHanSansCN-Heavy {
    font-family: "SourceHanSansCN-Heavy", sans-serif !important;
}
.SourceHanSansCN-Light {
    font-family: "SourceHanSansCN-Light", sans-serif !important;
}
.SourceHanSansCN-Medium {
    font-family: "SourceHanSansCN-Medium", sans-serif !important;
}
.SourceHanSansCN-Normal {
    font-family: "SourceHanSansCN-Normal", sans-serif !important;
}
.SourceHanSansCN-Regular {
    font-family: "SourceHanSansCN-Regular", sans-serif !important;
}
